main{
  background-color: white;
  margin-right: 25%;
  margin-left: 25%;
}

hr{
  margin: 25px;
}

.top{
  max-width:1200px;
  margin: auto;
  text-align: center;
  font-size: 48px;
}

.navbar{
  max-width: 1200px;
  margin-top: 25px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
}

#addQual{
  background-color: white;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 50px;
  background-image: url(images/addQualifikation.png);
  background-position: center;
  background-size: cover;
}

#allQual{
  background-color: white;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 50px;
  background-image: url(images/allQualifikation.png);
  background-position: center;
  background-size: cover;
  background-size: 120%;
}

#createEmpl{
  background-color: white;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 50px;
  background-image: url(images/createemploye.png);
  background-position: center;
  background-size: 50%;
}

#logout{
  background-color: white;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 50px;
  background-image: url(images/logout.png);
  background-position: center;
}

.EmployeeList{
  font-size: 20px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
}

.employeeSlot{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30% 30% 30% 10%;
  border: solid;
  border-width: 3px;
  border-color: #585858;
  margin: 5px;
}

#dummyImage{
  width: 275px;
  height: 175px;
  background-image: url('./images/Dummy.png');
}

#employeeName{
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  margin-top: 75px;
}

#employeeQualififcation{
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 3;
  margin-top: 75px;
  margin-right: 25px;
  list-style: none;
}

#addQualificationButton{
  grid-column-start: 4;
  grid-column-end: 4;
  text-align: center;
  width: 90%;
  height: 100px;
}
