<body>
  <main>
    <div class="top">
      <span>JJDC-Employees</span>
    </div>
    <div class="navbar">
      <button class="navbar" id="addQual" [routerLink]="['/createQualification']"></button>
      <button class="navbar" id="allQual" [routerLink]="['/allQualifications']"></button>
      <button class="navbar" id="createEmpl" [routerLink]="['/createEmployee']"></button>
      <button class="navbar" id="logout" [routerLink]="['/logout']"></button>
    </div>
    <hr>
    <div class="EmployeeList">
      <div *ngFor="let employee of (employees$ | async)" class="employeeSlot">
        <div id="dummyImage"></div>
        <span id="employeeName">{{employee.firstname}} {{employee.lastname}}</span>
        <ul id="employeeQualififcation">
          <li *ngFor="let designations of (employee.qualifications)">{{designations.designation}}</li>
        </ul>
        <button id="addQualificationButton" [routerLink]="['/allQualifications']">Add Q</button>
      </div>
    </div>
  </main>
</body>
