<body>
<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <div class="login__field">
          <i class="login__icon"></i>
          <input type="text" class="login__input" placeholder="Username" #usernameI>
        </div>
        <div class="login__field">
          <i class="login__icon"></i>
          <input type="password" class="login__input" placeholder="Password" #passwordI>
        </div>
        <button class="button login__submit" (click)="login(usernameI.value, passwordI.value)">
          <span class="button__text" >Login</span>
        </button>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
  <div *ngIf="locked" class="locked">
    3 WRONG TRYS, WAIT A BIT
  </div>
</div>
</body>



