<body>
<main>
  <div class="top">
    <span>JJDC-Qualifications</span>
  </div>
  <button id="btn1" onclick="window.location.href='/home'"><</button>
  <hr>
  <div class="QualificationList">
    <div *ngFor="let qualification of (qualification$ | async)" class="qualificationSlot">
    <span id="qualificationName">{{qualification.designation}}</span>
    </div>
  </div>
</main>
</body>
