main{
  background-color: white;
  margin-right: 25%;
  margin-left: 25%;
}

hr{
  margin: 25px;
}

.top{
  max-width:1200px;
  margin: auto;
  text-align: center;
  font-size: 48px;
}

.QualificationList{
  font-size: 20px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
}

.qualificationSlot{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30% 30% 30%;
  border: solid;
  border-width: 3px;
  border-color: #585858;
  margin: 5px;
}
