<body>
<button id="btn1" onclick="window.location.href='/home'"><</button>
<div class="top">
  <span>JJDC-Employees</span>
</div>
<div class="safe">
  <button class="safe" id="safe" (click)="save(firstname.value, lastname.value, street.value, postcode.value, city.value, phone.value)"></button>
</div>
<div class="headline">
  <h1>Create Employee</h1>
</div>
<div class="navbar">
  <button class="navbar" id="back" [routerLink]="['/logout']"></button>
</div>
<div class="centered">
  <table>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Street</th>
      <th>Postcode</th>
      <th>City</th>
      <th>Phone</th>
    </tr>
    <tr>
      <td><input size="30" class="input" #firstname/></td>
      <td><input size="30" class="input" #lastname/></td>
      <td><input size="50" class="input" #street/></td>
      <td><input size="30" class="input" #postcode/></td>
      <td><input size="45" class="input" #city/></td>
      <td><input size="50" class="input" #phone/></td>
    </tr>
  </table>
</div>
</body>
