body {
  heigth:100%;
}

.top{
  max-width:1200px;
  margin: auto;
  text-align: center;
  font-size: 48px;
}

.navbar{
  max-width: 1200px;
  text-align: center;
}
.safe{
  float: right;
  background-position: center;
  background-size: cover;
  background-size: 70%;
}

#back{
  background-color: white;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 50px;
  background-image: url(../employee-overview-form/images/logout.png);
  background-position: center;
  background-size: cover;
  background-size: 70%;
  float: left;
}

#safe{
  background-color: white;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 50px;
  background-image: url(../employee-overview-form/images/safe.png);
  background-position: center;
}
.centered {
  background-color: #D4D3E8;
  width: 50%;
  padding: 2%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.headline{
  max-width:800px;
  margin: auto;
  text-align: center;
  font-size: 25px;
}
table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: center;
}

.input{
  text-align: center;
}

button{
  width: 100px;
}
