    <H1 class="centeredText">Create new Qualification</H1>
    <button id="btn1" onclick="window.location.href='/home'"><</button>
    <button id="btn2" onclick="window.location.href='/home'">HOME</button>
  <div id="centered">
    <input class="textField" type="text" name="Qualification Name" placeholder="Name der Qualifikation"
           [(ngModel)]="qualificationName">
    <!--    <p>{{qualificationName}}</p>-->
  </div>
  <div id="centerBtn">
    <button id="btn3" (click)="post(qualificationName)">Done</button>
  </div>
