#btn1 {
  width: 100px;
  grid-column-start: 1;
  grid-column-end: 1;
}

#btn2 {
  float: right;
  width: 100px;
  grid-column-start: 3;
  grid-column-end: 3;
}

#btn3 {
  float: bottom;
}

#centered {
  width: 200px;
  height: 20px;
  margin: 0 auto 7px;
}

.textField {
  width: 83%;
  height: 20px;
}

.centeredText {
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: center;
}

#centerBtn {
  margin: auto;
  position: relative;
  width: 200px;
}

#grid {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
}
