body {
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

button {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  width: 100%;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
}

button:active,
button:focus,
button:hover {
  outline: none;
  border-color: #6A679E;
}

input{
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}
